@model GeoHelper.Models.AzymutViewModel

@{
    ViewData["Title"] = "Obliczanie azymutu na podstawie dwóch punktów";
}

@inject SignInManager<ApplicationUser> SignInManager

<h2>Azymut</h2>
<h4>Obliczanie azymutu na podstawie dwóch punktów</h4>
<div class="row">
    <div class="col-md-12 col-sm-12 text-center">
        <img src="~/images/test.jpg" alt="Sample Photo" width="300" height="300" />
    </div>
    <form asp-action="Azymut_wynik">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="score" />
        <div class="col-md-6 col-lg-6">
            <h3>Punkt A</h3>
            @if (SignInManager.IsSignedIn(User))
            {   <h4>Wybierz punkt do obliczeń z bieżącego projektu</h4>
            <select class="btn btn-default dropdown-toggle" asp-for="@Model.selectedId1" asp-items="@(new SelectList(Model.pointList,"ID", "name"))">
                <option>Wybierz punkt A</option>
            </select>
                <h4>lub wprowadź dowolne wartości:</h4>
            }

            <div class="form-group" width="50px">
                <label asp-for="name1" class="control-label">Nazwa</label>
                <input asp-for="name1" class="form-control" />
                <span asp-validation-for="name1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="x1" class="control-label">x</label>
                <input asp-for="x1" class="form-control" />
                <span asp-validation-for="x1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="y1" class="control-label">y</label>
                <input asp-for="y1" class="form-control" />
                <span asp-validation-for="y1" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <h3>Punkt B</h3>
            @if (SignInManager.IsSignedIn(User))
            {
                <h4>Wybierz punkt do obliczeń z bieżącego projektu</h4>
                <select class="btn btn-default  dropdown-toggle " asp-for="@Model.selectedId2" asp-items="@(new SelectList(Model.pointList,"ID", "name"))">
                    <option>Wybierz punkt B</option>
                </select>
                <h4>lub wprowadź dowolne wartości:</h4>
            }

            <div class="form-group">
                <label asp-for="name2" class="control-label">Nazwa</label>
                <input asp-for="name2" class="form-control" />
                <span asp-validation-for="name2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="x2" class="control-label">x</label>
                <input asp-for="x2" class="form-control" />
                <span asp-validation-for="x2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="y2" class="control-label">y</label>
                <input asp-for="y2" class="form-control" />
                <span asp-validation-for="y2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group  text-center">
            <input type="submit" value="Oblicz" class="btn btn-default btn-sx" />
        </div>
    </form>
</div>