@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Witaj w aplikacji GeoHelper</h1>
@if (ViewBag.numberOfProjects > 0)
{
    <h3 class="text-center">Liczba Twoich projektów: @ViewBag.numberOfProjects    <a class="btn btn-default" asp-action="Index" asp-controller="Projects">Zarządzaj</a></h3>

}
else
{
    <h3 class="text-center">Aby korzystać ze wszystich funkcjonalności zaloguj się</h3>

}
<div>
    <h2 class="text-center">Wykonaj obliczenia</h2>
    <div class="row" >
        <div class="col-md-6 text-center">
            <h3><font color="#800000">Azymut</font></h3>
            <a asp-action="Azymut" asp-controller="Obliczenia">
                <img src="~/images/azymut.png" alt="Azymut" width="400" height="400" />
            </a>
        </div>

        <div class="col-md-6 text-center">
            <h3><font color="#800000">Odległości</font></h3>
            <a asp-action="Odleglosci" asp-controller="Obliczenia">
                <img src="~/images/odleglosci.png" alt="Odległości" width="400" height="400" />
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h3><font color="#800000">Zmiana miar kątowych</font></h3>
            <a asp-action="ZmianaMiarKatowych" asp-controller="Obliczenia">
                <img src="~/images/zmianaMiar.png" alt="Zaiana miar kątowych" width="400" height="400" />
            </a>
        </div>

        <div class="col-md-6 text-center">
            <h3><font color="#800000">Kąt poziomy</font></h3>
            <a asp-action="KatPoziomy" asp-controller="Obliczenia">
                <img  src="~/images/katPoziomy.png" alt="Odległości" width="400" height="400" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h3><font color="#800000">Metoda biegunowa</font></h3>
            <a asp-action="MetodaBiegunowa" asp-controller="Obliczenia">
                <img src="~/images/biegunowa.png" alt="Metoda Biegunowa" width="400" height="400" />
            </a>
        </div>

        <div class="col-md-6 text-center">
            <h3><font color="#800000">Wcięcie kątowe</font></h3>
            <a asp-action="WciecieKatowe" asp-controller="Obliczenia">
                <img  src="~/images/wciecie.png" alt="Wcięcie kątowe" width="400" height="400" />
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <h3><font color="#800000">Punkty na prostej</font></h3>
            <a asp-action="PunktyNaProstej" asp-controller="Obliczenia">
                <img src="~/images/punktyNaProstej.png" alt="Punkty na prostej" width="400" height="400" />
            </a>
        </div>

        <div class="col-md-6 text-center">
            <h3><font color="#800000">Domiary prostokątne</font></h3>
            <a asp-action="DomiaryProstokatne" asp-controller="Obliczenia">
                <img src="~/images/domiary.png" alt="Domiary prostokątne" width="400" height="400" />
            </a>
        </div>
    </div>
</div>
