@model GeoHelper.Models.Point

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Point</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="x" class="control-label"></label>
                <input asp-for="x" class="form-control" />
                <span asp-validation-for="x" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="y" class="control-label"></label>
                <input asp-for="y" class="form-control" />
                <span asp-validation-for="y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="z" class="control-label"></label>
                <input asp-for="z" class="form-control" />
                <span asp-validation-for="z" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectId" class="control-label"></label>
                <input asp-for="projectId" class="form-control" />
                <span asp-validation-for="projectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
